extends layout

block header
	div.head-container.col-sm-offset-1
		h1 Stick Figure Showdown
		ul.nav.nav-tabs
			li: a(href="/") Submit Entry
			li: a(href="/submissions") Submissions
			li.active: a(href="/vote") Vote
block content
	div
		div.col-sm-5
			iframe(width="560", height="315", src="//www.youtube.com/embed/" + sample[0].url + "?list=PL5586336C26BDB324", frameborder="0", allowfullscreen)
		p.col-sm-2.versus VS
		div.col-sm-5
			iframe(width="560", height="315", src="//www.youtube.com/embed/" + sample[1].url + "?list=PL5586336C26BDB324", frameborder="0", allowfullscreen)

	div.vote-form
		form.form.col-sm-offset-1(action="/addVote", method="post", role="form")
			div.form-group.col-sm-10
				input(type="radio", name="choice", value=sample[0].title) 
				|  #{sample[0].title}
			div.form-group.col-sm-10
				input(type="radio", name="choice", value=sample[1].title)
				|  #{sample[1].title}
			div.form-group.col-sm-10
					button.btn.btn-success(type="submit") Submit
